body
{ background: #837560;
  color: #404040;
  font-family: Georgia, serif, "Times New Roman";
  padding: 0px;
  margin: 0px; }

p
{ margin: 0px;
  padding: 0px 0px 12px 0px;
  line-height: 1.5em;}

h1
{ font-size: 140%;}

h3
{ font-size: 140%;}

ol, ul
{ margin: 0px;}

ol li, ul  li
{ margin-bottom: 12px;}

#main
{ background: #404040;
  width: 960px;
  margin-left: auto; 
  margin-right: auto;
  border: 2px solid maroon;
}

#links, #footer, #menu
{ background: url(/images/menu.png);
  color: #DBD7D1;
  width: 960px;
  height: 32px;
}

#links, #footer {text-align: center;padding-top: 10px;}
#footer {clear:both; font-size:85%;}

#links a, #menu a, #footer a
{ 
  color: #DBD7D1;
  text-decoration: none;
}
#links a:hover, #footer a:hover{text-decoration: underline;}

#logo
{
  background: url(/images/IMG.jpg); 
  background-position: bottom right;
  height:176px;
  width:960px;
  margin:0;
  padding:0;
}

#logo h1
{
  width:940px;
  font-size: 300%;
  font-family: Merryweather;
  text-align:center;
  margin:0;
  position: relative;
  left:0px;
  top:0px;
  padding:4px 10px 10px 10px;
  letter-spacing: .1em;	
  line-height:125%;
  color: maroon;
 text-shadow: 0px 0px 4px #000000;
}

#menu {height: 42px; position: relative; top: 0px; background: rgba(64,64,64,0.4);}
#menu ul
{
  list-style-type:none;
  margin:0px;
  padding:0px;
}
#menu li
{
  display:inline;
  float: left;
  margin:0px;
  padding:0px;
}

#menu li a
{
  display:block;
  text-transform: uppercase;
  text-decoration: none; 
  width:120px;
  height:32px;
  padding: 10px 10px 0px 10px;
}

#menu li a:hover, #menu li a#selected, #menu li a#selected:hover
{
  background: #FFFFFF url(/images/menu_hover.png);
  color: #70695A;
}

#content
{
  padding: 20px;
  float: left;
  width: 760px;
  background: white;	
}

#navigation
{
  float: right;
  width: 160px;
}

#navigation ul
{
  list-style-type:none;
  margin:0;
  padding:0;
}

#navigation a
{
  display: block;
  width:160px;
  padding-top:14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FDA52B;
}
#navigation li {height: 40px;}

#navigation li a:hover
{
  background: #FDA52B;
  color: #404040;
  height: 40px;
}

/* image positioning - left, right and center */
.left
{ float: left; 
  padding: 0px 8px 0px 0px;
}

.right
{ float: right; 
  padding: 0px 0px 0px 8px;
}

.center
{ display: block;
  text-align: center;
  margin: 0 auto;
}



